<!DOCTYPE html>
<html>
<head>
    <title>Benefits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" asp-controller="Empresa" asp-action="Index"><img src="~/images/Icons/home-24px.svg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                @*<li class="nav-item active">
            <a class="nav-link" asp-controller="Empresa" asp-action="Index">Início<span class="sr-only">(current)</span></a>
        </li>*@
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Empresa" asp-action="Empresas">Empresas<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Empresa" asp-action="EmpresaEmpresaParceirosMeu">Parceiros<span class="sr-only">(current)</span></a>
                </li>
                @*<li class="nav-item active">
            <a class="nav-link" asp-controller="Empresa" asp-action="Clientes">Clientes<span class="sr-only">(current)</span></a>
        </li>*@
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Empresa" asp-action="Beneficios">Benefícios<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" asp-controller="Usuario" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container p-4">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Benefits</p>
        </footer>
    </div>
</body>
</html>