<!DOCTYPE html>
<html>
<head>
    <title>Benefits - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container p-4">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Benefits</p>
        </footer>
    </div>
</body>
</html>