
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<Legend>Home</Legend>
<form action="/" method="get">
    <button type="submit" asp-action="Cadastrar" asp-controller="Empresa" class="btn btn-info">Cadastro Empresa</button>
    <button type="submit" asp-action="Cadastrar" asp-controller="Cliente" class="btn btn-success">Cadastro Cliente</button>
    <button type="submit" asp-action="Login" asp-controller="Usuario" class="btn btn-warning">Login</button>
</form>