@model Domain.Empresa

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_EmpresaLayout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <fieldset>
            <legend>Editar Empresa</legend>
            <form asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EmpresaId" />
                <div class="form-group">
                    <label asp-for="Cnpj" class="control-label"></label>
                    <input asp-for="Cnpj" class="form-control" />
                    <span asp-validation-for="Cnpj" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Razao" class="control-label"></label>
                    <input asp-for="Razao" class="form-control" />
                    <span asp-validation-for="Razao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CriadaEm" class="control-label"></label>
                    <input asp-for="CriadaEm" class="form-control" />
                    <span asp-validation-for="CriadaEm" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
               
            </form>
            </fieldset>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

