@model Domain.Cliente

<div class="container-fluid">
    <div class="col-md-12">
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <fieldset class="float-left m-2">
                        <legend>Cadastrar Cliente</legend>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telefone" class="control-label"></label>
                            <input asp-for="Telefone" class="form-control" />
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Senha: </label>
                            <input id="idSenha" name="Senha" placeholder="Senha: " class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Confirmacao Senha: </label>
                            <input id="idConfirmacaoSenha" name="ConfirmacaoSenha" placeholder="Confirmacao Senha: " class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Cadastrar" class="btn btn-block btn-primary" />
                            <a class="btn btn-block btn-outline-warning" asp-controller="Home" asp-action="Home">Voltar</a>
                        </div>
                    </fieldset>
                    <fieldset class="float-left m-1">
                        </br>
                        </br>
                        <div class="form-group">
                            <label asp-for="Endereco.Code"></label>
                            <div class="input-group">
                                <input type="text" asp-for="Endereco.Code" class="form-control" />
                                <div class="input-group-append">
                                    <input type="submit" value="Buscar CEP" class="btn btn-danger" asp-action="BuscarCep" asp-controller="Cliente" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Endereco.Address"></label>
                            <input type="text" asp-for="Endereco.Address" class="form-control" readonly="" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Endereco.District"></label>
                            <input type="text" asp-for="Endereco.District" class="form-control" readonly="" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Endereco.City"></label>
                            <input type="text" asp-for="Endereco.City" class="form-control" readonly="" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Endereco.State"></label>
                            <input type="text" asp-for="Endereco.State" class="form-control" readonly="" />
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</div>
