@model Domain.EmpresaCliente

@{
    ViewData["Title"] = "NIVEL DA PARCERIA";
}

<h2>EmpresaParceria</h2>

<h4>EmpresaCliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EmpresaParceria">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nivel" class="control-label"></label>
                <input asp-for="Nivel" class="form-control" />
                <span asp-validation-for="Nivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>

